[Unit]
Description=GalliumOS system customization for Braswell models

[Service]
ExecStart=/usr/sbin/galliumos-braswell-init
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
